# --- DJANGO ---
DJANGO_SECRET_KEY=tu_secret_key_aqui
DEBUG=True

# --- SUPABASE (DATABASE & STORAGE) ---
DATABASE_URL=postgres://postgres.xxxx:your-password@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=disable
SUPABASE_JWT_SECRET=tu_jwt_secret_de_supabase_settings_api

# CREDENCIALES S3 (Para django-storages con Supabase Storage)
AWS_ACCESS_KEY_ID=tu_access_key_id
AWS_SECRET_ACCESS_KEY=tu_secret_access_key
SUPABASE_STORAGE_BUCKET=pdfs
AWS_S3_ENDPOINT_URL=https://xxxx.supabase.co/storage/v1/s3

# --- TELEGRAM ---
TELEGRAM_BOT_TOKEN=tu_bot_token_aqui

# --- GOOGLE GENAI ---
GEMINI_API_KEY=tu_gemini_api_key_aqui

# --- URL PÚBLICA DE LA APLICACIÓN ---
# En desarrollo: http://127.0.0.1:8000
# En producción: https://tu-dominio.com
BASE_URL=http://127.0.0.1:8000
